<div class="copyright-area bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                <div class="copyright-text">
                    <p>Copyright &copy; 2018, All Right Reserved <a href="https://codepen.io/anupkumar92/">Jignesh</a></p>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 text-lg-right text-center">
                <div class="footer-menu">
                    <ul>
                        <li><a routerLink="" routerLinkActive="f_active" [routerLinkActiveOptions]="{exact:true}">Home</a></li>
                        <li><a routerLink="menu" routerLinkActive="f_active">Menu</a></li>
                        <li><a routerLink="about" routerLinkActive="f_active">About</a></li>
                        <li><a routerLink="contact" routerLinkActive="f_active">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>